{% macro render(field) %}

    {% import 'macros/htmlElement.twig' as htmlElementMacro %}

    {% set showRequired = true %}

    {% if field.getLabel and field.getIsLabelBefore %}
        {% if field.getId %}
            <label for="{{ field.getId }}">{{ field.getLabel }}</label>
        {% else %}
            <label>{{ field.getLabel }}</label>
        {% endif %}
    {% endif %}

    
    {% if field.getError %}
        {% if field.getErrorMessage == 'required' %}
            {% set showRequired = false %}
        {% endif %}
        <span class="ffErrorMsg">{{ field.getErrorMessage }}</span>
    {% endif %}

    {% if showRequired and field.getIsRequired %}
        <span class="fieldRequired">required</span>
    {% endif %}

    {% if field.getTag == 'select' %}
        {% import 'macros/selectOptions.twig' as selectOptionsMacro %}

        {{ htmlElementMacro.open('select', field.getAttributes) }}
            {{ selectOptionsMacro.renderRecursive(field, field.getOptionOptionGroups) }}
        {{ htmlElementMacro.close('select') }}

    {% elseif field.getTag == 'datalist' %}
        {{ htmlElementMacro.open('datalist', field.getAttributes) }}
            {% for optionValue in field.getOptions %}
                {{ htmlElementMacro.open('option', {'value':optionValue}) }}
            {% endfor %}

        {{ htmlElementMacro.close('datalist') }}

    {% elseif field.getTag == 'textarea' %}
        {{ htmlElementMacro.complete('textarea', field.getAttributes, true, field.getValue) }}

    {% elseif field.getTag == 'progress' %}
        {{ htmlElementMacro.complete('progress', field.getAttributes, true) }}

    {% elseif field.getTag == 'meter' %}
        {{ htmlElementMacro.complete('meter', field.getAttributes, true, field.getValue) }}

    {% elseif field.getTag == 'output' %}
        {{ htmlElementMacro.complete('output', field.getAttributes, true) }}

    {% elseif field.getTag == 'input' %}

        {{ htmlElementMacro.open('input', field.getAttributes) }}

        {% if (field.attributes.type == 'radio' or field.attributes.type == 'checkbox') and field.getLabel %}
            {% if field.getId %}
                <label for="{{ field.getId }}" class="afterLabel">{{ field.getLabel }}</label>
            {% else %}
                <label class="afterLabel">{{ field.getLabel }}</label>
            {% endif %}
        {% endif %}

    {% else %} {# this could be an invalid field type, but give it a try #}
        {{ htmlElementMacro.complete(field.getTag, field.getAttributes, true) }}

    {% endif %}

{% endmacro %}