{% macro render(field) %}

    {% import 'macros/htmlElement.twig' as htmlElement %}

    {% set showRequired = true %}

    {% if field.getLabel %}
        {% if field.getId %}
            <label for="{{ field.getId }}">{{ field.label }}</label>
        {% else %}
            <label>{{ field.getLabel }}</label>
        {% endif %}
    {% endif %}

    
    {% if field.getError %}
        {% if field.getErrorMessage == 'required' %}
            {% set showRequired = false %}
        {% endif %}
        <span class="ffErrorMsg">{{ field.getErrorMessage }}</span>
    {% endif %}

    {% if showRequired and field.getIsRequired %}
        <span class="fieldRequired">required</span>
    {% endif %}

    {% if field.getTag == 'select' %}
        {{ htmlElement.open(field.getTag, field.getAttributes) }}
        {% for optionOptionGroup in field.getOptionOptionGroups %}

            {% if optionOptionGroup.getText %} {# it is an option not a group #}
                {{ htmlElement.complete('option', optionOptionGroup.getAttributes, true, optionOptionGroup.getText) }}

            {% else %} {# it is an option group #}
                {{ htmlElement.open('optgroup', optionOptionGroup.getAttributes) }}

                    {% for groupOption in optionOptionGroup.getOptions %}
                        {{ htmlElement.complete('option', groupOption.getAttributes, true, groupOption.getText) }}
                    {% endfor %}

                {{ htmlElement.close('optgroup') }}
            {% endif %}
        {% endfor %}

        {#{% for k,v in field.getOptions %}#}
            {#{% set optionAttributes = {'value': v} %}#}
            {#{% if 'disabled' == v %}#}
                {#{% set optionAttributes = optionAttributes|merge({'disabled': 'disabled'}) %}#}
            {#{% endif %}#}
            {#{% if field.getSelected == v %}#}
                {#{% set optionAttributes = optionAttributes|merge({'selected': 'selected'}) %}#}
            {#{% endif %}#}
            {#{{ htmlElement.complete('option', optionAttributes, true, k) }}#}
        {#{% endfor %}#}
        {{ htmlElement.close('select') }}

    {% elseif field.getTag == 'textarea' %}
        {{ htmlElement.complete('textarea', field.getAttributes, true, field.getValue) }}

    {%  else %}
        {{ htmlElement.open(field.getTag, field.getAttributes) }}
        {% if field.tag == 'input' and (field.attributes.type == 'checkbox' or field.attributes.type == 'radio') and field.text %}
            {{ field.text }}
        {% endif %}

    {% endif %}

{% endmacro %}