{% macro render(field) %}

    {% import 'macros/htmlElement.twig' as htmlElement %}

    {% set showRequired = true %}

    {% if field.getLabel and field.getIsLabelBefore %}
        {% if field.getId %}
            <label for="{{ field.getId }}">{{ field.getLabel }}</label>
        {% else %}
            <label>{{ field.getLabel }}</label>
        {% endif %}
    {% endif %}

    
    {% if field.getError %}
        {% if field.getErrorMessage == 'required' %}
            {% set showRequired = false %}
        {% endif %}
        <span class="ffErrorMsg">{{ field.getErrorMessage }}</span>
    {% endif %}

    {% if showRequired and field.getIsRequired %}
        <span class="fieldRequired">required</span>
    {% endif %}

    {% if field.getTag == 'select' %}
        {% import 'macros/selectOptions.twig' as selectOptions %}

        {{ htmlElement.open(field.getTag, field.getAttributes) }}
            {{ selectOptions.renderRecursive(field, field.getOptionOptionGroups) }}
        {{ htmlElement.close('select') }}

    {% elseif field.getTag == 'textarea' %}
        {{ htmlElement.complete('textarea', field.getAttributes, true, field.getValue) }}

    {% elseif field.getTag == 'progress' %}
        {{ htmlElement.complete('progress', field.getAttributes, true) }}

    {% elseif field.getTag == 'meter' %}
        {{ htmlElement.complete('meter', field.getAttributes, true, field.getValue) }}

    {% elseif field.getTag == 'output' %}
        {{ htmlElement.complete('output', field.getAttributes, true) }}

    {% elseif field.getTag == 'input' %}

        {{ htmlElement.open('input', field.getAttributes) }}

        {% if (field.attributes.type == 'radio' or field.attributes.type == 'checkbox') and field.getLabel %}
            {% if field.getId %}
                <label for="{{ field.getId }}" class="afterLabel">{{ field.getLabel }}</label>
            {% else %}
                <label class="afterLabel">{{ field.getLabel }}</label>
            {% endif %}
        {% endif %}

    {% else %}
        {{ htmlElement.complete(field.getTag, field.getAttributes, true) }}

    {% endif %}

{% endmacro %}